<div>
	<div class="dijitDialogPaneContentArea">
		<p>Your session has been inactive for a long time.</p>
		<p>Do you wish to continue your session or log out?</p>
		<p>You will be automatically logged out in
			<span data-dojo-attach-point="_secondsToGo" class="inlineNumericField">n</span> seconds</p>
	</div>
	<div class="dijitDialogPaneActionBar">
		<button data-dojo-attach-point="_continueNode" data-dojo-type="dijit/form/Button">
			Continue Session
		</button>
		<button data-dojo-attach-point="_logoutNode" data-dojo-type="dijit/form/Button">
			Log Out
		</button>
	</div>
</div>
