<div>
	<div class="dijitDialogPaneContentArea">
		<h3 data-dojo-attach-point="titleNode"></h3>
		<div data-dojo-type="dijit/layout/StackContainer" data-dojo-attach-point="containerNode"></div>
		<div class="dijitDialogPaneActionBar">
			<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_btnCancel"
			        data-dojo-props="disabled:false">Cancel</button>
			<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_btnPrevious"
			        data-dojo-props="disabled:true">Previous</button>
			<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_btnNext"
			        data-dojo-props="disabled:false">Next</button>
			<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_btnFinish"
			        data-dojo-props="disabled:false">Finish</button>
		</div>
	</div>
</div>
